.eb_square{
    width: 250px;
    height: 250px;
    border-radius: 13px;
    border: 1px solid #0A4067;
    
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.eb_btn{
    background-color: #0A4067;
    color: whitesmoke;
    &:hover{
        opacity: 0.9;
        color: white;
    }
}

.my-radius-bg {
    border-radius: 15px;
    border: 1px solid #0A4067;
    background-color: #C6EAEC;
}

.lightBg {
    background-color: #C6EAEC;
}

.confirmSponsorship {
    padding: 10px;
    background-color: lightgreen;
    border-radius: 15px;
}