    .eb_jumbotron{
        height: 30px;
        width: 100%;
        transform: rotate(180deg);
        img{
            width: 100%;
            height: 30px;
        }
    }
    .eb_height{
        margin: 150px 0;
        .home_jumbo {
            background-color: rgb(89, 210, 212);
            border-radius: 20px;
            border-bottom-right-radius: 50px;
            width: 68%;
            background-image: url('https://img.freepik.com/free-vector/clean-medical-background-vector_53876-140865.jpg?w=1480&t=st=1668387031~exp=1668387631~hmac=d27fe39e4e254822272b7ed286b6c59a64daf5d359d1fd5d35c22b2cd9b4a93f');
            background-size: cover;
            

            .eb_space{
                justify-content: space-evenly;
                .eb_border{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 20px;
                    justify-content: space-evenly;
                    
                    .eb_img { 
                        width: 80%;
                        margin-inline: auto;
                        img {
                            width: 100%;
                        }
                    }
    
                    .site_logo {
                        padding: 20px 10px;
                    }
    
                    
                    .home_search{
                        width: 100%;
                        height: 200px;
                        text-align: center;
                        padding-top: 30px;
                        margin-inline: auto;
                        .input_search {      
                            width: 60%;//da fare responsive
                            padding: 20px;
                        }
                        .btn_search {
                            margin-top: 10px;
                            background-color: rgb(253, 224, 61);
                            padding: 20px 40px 20px 40px;
                            border-radius: 10px;
                            img {
                                object-fit: cover;
                            }
                        }
        
                        .out-doctors {
                            right: 0; 
                            left: 7%; 
                            z-index: 100;
                            height: 225px;
                            width: 60%;
                            overflow: auto;
                              
                              .wrap-doctors {
                                  .list_profile {      
                                      &:hover{
                                          background-color: rgb(231, 231, 231);
                                      }
              
                                      .specializations_search_results{
                                          background-color: rgb(162, 219, 234);
                                          padding: 5px;
                                          padding-left: 10px;
                                          padding-right: 10px;
                                          border-radius: 10px;
                                      }
        
                                      .img-wrapper_results {                  
                                          height: 50px;
                                          width: 50px;
                                          img {
                                            height: 100%;
                                          }
                                      }
                                  }
                              }  
                        }
                    }
                }
                
                .eb_fs{
                    font-size: 4rem;
                }

                .text-square {
                    padding: 20px;
                }
    
                .img-wrap {
                    width: 65%;
                    display: flex;
                    align-self: center;
                    img{
                        width: 100%;
                    }
                }
                .eb_dott{
                    border-right: 7px dotted rgb(81, 81, 81);
                }
            }
            
        }
    }


    .ourDoctors {
        margin-bottom: 100px;
        margin-top: 200px;
        h1{
            font-size: 4.5rem;
            color: #0A4067;
            padding-bottom: 70px;
        }
        .filters_2{
            width: 40%;
            select{
                width: 100%;
                padding: 10px;
                border: none;
                outline-color: #0A4067;
            }
            .btn {
                border: none;
                background-color: #0A4067;
                color: whitesmoke;
                border-radius: none;
                &:hover{
                    background-color: whitesmoke;
                    color: #0A4067;
                    outline: 2px solid #0A4067;
                }
            }
        }
        .filters { 
            .btn{
                border: none;
                background-color: #0A4067;
                color: whitesmoke;
            }
            .star{
                color:#0A4067;
            }
        }
        .my_cards {
            justify-content: space-evenly;
            margin-top: 20px;
            .card{
                width: 16rem;
                margin: 40px 10px;
                border-radius: 20px;
                overflow: hidden;
                
                .eb_img{
                    height: 210px;
                    
                    
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        
                    }
                }
                .eb_color{
                    color: #0A4067;
                }
                .eb_size{
                    font-size: 1.2rem;
                }
                .btn{
                    background-color: #0A4067;
                    color: whitesmoke;
                    border: none;
                    padding: 0.8rem 1.5rem;
                    &:hover{
                        background-color: whitesmoke;
                        color: #0A4067;
                        outline: 2px solid #0A4067;
                    }
                }
            }
        }

        .square{
            margin: 200px 0;
            background-color: #0A4067;
            border-radius: 20px;
            h2{
                color: whitesmoke;
                font-size: 3rem;
            }
        }
    }

    input{
        border-radius: 10px;
        outline-color: #3da9fc;
        border: none;
    }

    h3{
        color: #0A4067;
    }
    
    .shadow-drop-2-center {
        -webkit-animation: shadow-drop-2-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: shadow-drop-2-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    @-webkit-keyframes shadow-drop-2-center {
        0% {
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
        -webkit-transform: translateZ(50px);
                transform: translateZ(50px);
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
                box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        }
    }
    @keyframes shadow-drop-2-center {
        0% {
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
        -webkit-transform: translateZ(50px);
                transform: translateZ(50px);
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
                box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        }
    }
  


    
    
